/* resources: bootsnip, http://logicbox.net/jquery/simplyscroll/
 jsfiddle, */


body{
    background-color:#f2e258;
    font-family: 'Satisfy', cursive;
}

.todolist{
    background-color:#3ca4d6;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}

.todolist{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}

.form-control{
    border-radius:0;
}

li.ui-state-default{
    background:#fff;
    border: none;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    background-color:#bbbbbb;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}

#done-items li{
    padding:10px 0;
    border-bottom:1px dashed #ddd;
    text-decoration:line-through;
}

#done-items li:last-child{
    border-bottom:none;
}

/* button effect with gradient */
#checkAll{
    background: #f2e258;
    color: #000000;
    border: 2px solid #eee;
    height: 23px;
    width: 62px;
    margin: -26px 0 16px 150px;
    padding: 0 0 0 7px;
    overflow: hidden;
    display: block;
    border-radius: 15px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

/* button effect with hover */
#checkAll:hover{
    background-color: #pink;
    width: 200px;
}

/* remove link underline */
a{
    text-decoration: none;
}

ul {
    list-style: none;
}

/*img{*/
    /*width: 300px; 
    height: 300px; 
    margin: 0 auto;*/
    /*float: left;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-left: 10px;
    padding: 5px;*/
/*}*/

#scroller {
        position: relative;
    }
    #scroller .img {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }
